[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "bootflat.github.io"]
	path = bootflat.github.io
	url = git@github.com:bootflat/bootflat.github.io.git
