img{
	width:300px;
}

.entry{
	word-wrap:break-word;
}

body{
	padding-bottom: 25px;
}

.amo_menu li{
	list-style: none;
}

.amo_content{
	border-left:none;
	z-index:1000;
}

.amo_github{
  		display:none;
}
.amo_menu_container{
		background-color:#333;
	}

.amo_navbar{
    	margin-left:-15px;
    	margin-right:-15px;
}

.row{
		margin:0;
	}

#amo_description{
	display:none;
}

.amo_search{
	padding-left:15px;
	padding-right:15px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.amo_navbar{
			border:0;
		}

	.amo_menu{
		padding:0;
	}

	.amo_menu_container{
		background-color:white;
		margin-left:auto;
		margin-right:auto;
		width:100%;
	}

	.row{
		margin:0;
	}

	.navbar-header{
		/*padding-left: 15px;*/
	}

	.navbar > .container .navbar-brand:hover{
    	color:rgb(140,140,140);
  	}

  	.amo_navbar{
    	margin-left:0px;
    	margin-right:0px;
}

  	.amo_github{
  		display:inline;
  	}

  	.amo_content{
	border-left:2px solid rgb(59, 175, 218);
	z-index:1000;
	}

	#amo_description{
		display:block;
		clear:both;
		padding-bottom:10px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }